# ==============================================================
# CIRQA Frontend - Configuración de Variables de Entorno
# ==============================================================

# Entorno de Producción:
VITE_API_URL=https://api.cirqa.com.ar/api

# Entorno de Desarrollo Local (descomentar para pruebas locales con Express):
# VITE_API_URL=http://localhost:5000/api
