# ==============================================================
# CIRQA Frontend - Configuración de Variables de Entorno
# ==============================================================

# Entorno de Producción:
VITE_API_URL=https://api.cirqa.com.ar

# Entorno de Desarrollo Local:
# VITE_API_URL=http://localhost:5000

# Mercado Pago Public Key:
VITE_MP_PUBLIC_KEY=APP_USR-8a86f87b-4ee6-45e3-a241-8a626ff3bfb7
